In this notebook, we will analyse a GPA-STUDY-HOUR dataset.
 + We are going to predict the GPA of a student with Hours of study
 + plot line graph to analyzze the relation between GPA and study hours
 + Perform accuracy check through calculating the score and showing off the performence matrix.

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
gpa = pd.read_csv('gpa_study_hours.csv')

In [3]:
gpa.head(50)

      gpa  study_hours
0   4.000         10.0
1   3.800         25.0
2   3.930         45.0
3   3.400         10.0
4   3.200          4.0
5   3.520         10.0
6   3.680         24.0
7   3.400         40.0
8   3.700         10.0
9   3.750         10.0
10  3.300         30.0
11  3.425          7.0
12  3.795         15.0
13  3.830         60.0
14  3.300         10.0
15  3.750         10.0
16  3.150          6.0
17  3.700         20.0
18  3.800          8.0
19  3.630         30.0
20  3.900         35.0
21  3.294         12.0
22  3.700          6.0
23  3.400         20.0
24  4.000         10.0
25  3.400         14.0
26  3.700         10.0
27  3.800         10.0
28  3.400         30.0
29  3.400         20.0
30  3.400          7.0
31  3.000         20.0
32  3.600         16.0
33  3.567         14.0
34  3.300         21.0
35  3.400         21.0
36  3.600         11.0
37  3.670         10.0
38  3.820         10.0
39  2.900         15.0
40  3.900         10.0
41  3.400         10.0
42  3.600         20.0
43  3.100         10.0
44  3.400         10.0
45  3.800         12.0
46  3.700         25.0
47  3.700         20.0
48  3.800         25.0
49  3.920         15.0

#### checking the datatype,null values of the gpa dataset

In [4]:
gpa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gpa          193 non-null    float64
 1   study_hours  193 non-null    float64
dtypes: float64(2)
memory usage: 3.1 KB

RESULT: We have a clean dataset with float as the data type

### Scaling the Numerical variables

In [5]:
from sklearn.preprocessing import StandardScaler

In [6]:
sc = StandardScaler()

In [7]:
gpa_sc = sc.fit_transform(gpa)

In [8]:
gpa_sc = pd.DataFrame(gpa_sc, columns=(gpa.columns))

In [9]:
gpa_sc.head()

        gpa  study_hours
0  1.453370    -0.657038
1  0.750978     0.661136
2  1.207533     2.418700
3 -0.653807    -0.657038
4 -1.356200    -1.184307

### Spliting the dependent varibale and independent variable

In [16]:
x = np.array([gpa['study_hours']]) #independent variable
y = np.array([gpa['gpa']])         #dependent variable

In [17]:
x = x.reshape(-1,1)
y = y.reshape(-1,1)

### Splitting the training and testing data

In [18]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.1)

In [19]:
xtrain.shape,xtest.shape,ytrain.shape,ytest.shape

((173, 1), (20, 1), (173, 1), (20, 1))

### Building Model

In [20]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [21]:
lr = LinearRegression()

In [22]:
lr_mod = lr.fit(xtrain,ytrain)

In [23]:
lr_train_ypred = lr_mod.predict(xtrain)
lr_test_ypred = lr_mod.predict(xtest)

### R2 Score

In [24]:
from sklearn.metrics import r2_score

r2 = r2_score(ytrain, lr_train_ypred)
print("r2 score for training: ",r2)

r2 = r2_score(ytest, lr_test_ypred)
print("r2 score for testing: ",r2)

r2 score for training:  0.021732788461375052
r2 score for testing:  -0.03166572782784072

### Line plot

In [ ]:
plt.plot(gpa['gpa'],gpa['study_hours'])
plt.xlabel('GPA')
plt.ylabel('Study_hours')
plt.show()

In [ ]:
plt.plot(gpa['gpa'],gpa['study_hours'])
plt.xlabel('GPA')
plt.ylabel('Study_hours')
plt.show()